<div class="modal fade" id="modal-registrar-factura-proveedor" tabindex="-1" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <header class="price-table__header bg-blue">
        <div class="price-table__title">Registrar nueva factura proveedor</div>
      </header> -->
      <header class="price-table__header bg-blue ">
        <div class="row">
          <div class="price-table__title col-12 col-md-10">Registrar nueva factura proveedor</div>
          <div class="col-2">
            <button class="btn btn-info btn--icon float-right" data-dismiss="modal">
              <i class="zmdi zmdi-close"></i>
            </button>
          </div>
        </div>
      </header>

      <form #formNuevaCompra='ngForm' (ngSubmit)='nuevaCompra()'>

        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Número de factura</label>
                <input [(ngModel)]='facturaProveedor.numero' minlength="2" type="text"
                  class="form-control form-control-lg" required name="facNumero">
                <i class="form-group__bar"></i>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Fecha de factura</label>
                <input [(ngModel)]='facturaProveedor.fecha' minlength="2" type="date"
                  class="form-control form-control-lg" required name="facFecha">
                <i class="form-group__bar"></i>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Fecha de vencimiento</label>
                <input [(ngModel)]='facturaProveedor.fechaVencimiento' minlength="2" type="date"
                  class="form-control form-control-lg" required name="facFechaVencimiento">
                <i class="form-group__bar"></i>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Proveedor</label>
                <select [(ngModel)]='facturaProveedor.idProveedor' class="form-control" name="factProv">
                  <option [ngValue]='prov.idProveedor' *ngFor='let prov of listaProveedores'>
                    {{prov.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col12 col-md-6">
              <div class="form-group">
                <label>Total</label>
                <input [(ngModel)]='facturaProveedor.valor' minlength="2" type="number"
                  class="form-control form-control-lg" required name="facTotalValor" #facTotalValor="ngModel">
                <div class="litle-text" *ngIf="facTotalValor.touched">
                  <span *ngIf="facTotalValor?.errors?.required">El total es necesario - Solo se permiten numeros</span>
                  <span *ngIf="facTotalValor?.errors?.minlength">Se requieren minimo 2 digitos</span>
                </div>
              </div>
            </div>
          </div>


          <form #formNuevaCompra='ngForm' (ngSubmit)='addProductoFactura()'>
            <div class="row">
              <div class="form-group col-12 col-md-4">
                <label>Producto</label>
                <select [(ngModel)]='compra.idProducto' class="form-control" name="factProdNom"
                  (change)='setProductoCompra()'>
                  <option [ngValue]='prod.idProducto' *ngFor='let prod of listaProductos'>
                    {{prod.nombre}}</option>
                </select>
              </div>

              <div class="form-group col-12 col-md-4">
                <label>Cantidad</label>
                <input [(ngModel)]='compra.cantidad' minlength="2" type="number" class="form-control form-control-lg"
                  required name="compraCantidad" #compraCantidad="ngModel">
                <div class="litle-text" *ngIf="compraCantidad.touched">
                  <span *ngIf="compraCantidad?.errors?.required">La cantidad es necesaria - Solo se permiten
                    numeros</span>
                  <span *ngIf="compraCantidad?.errors?.minlength">Se requieren minimo 2 digitos</span>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <button style="margin-top: 25px" type="submit" class="btn btn-success" title="Agregar Permiso">
                  <i style="margin-right: 5px" class="zmdi zmdi-plus zmdi-hc-fw"></i>
                  Agregar
                </button>
              </div>
            </div>



          </form>
          <div style="overflow-y: scroll; height: 200px;" class="table-responsive">
            <table id="dt-compras-factura" class="table table-bordered" style="width: 100%">
              <thead class="thead-default">
                <tr>
                  <th class="td-option">Nombre</th>
                  <!-- <th class="td-option">Unidad</th> -->
                  <th class="td-option">Cantidad</th>
                  <td class="td-option">Opciones</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let compra of facturaProveedor.listaCompras'>
                  <td>{{compra.producto}}</td>
                  <!-- <td>{{compra.medida}}</td> -->
                  <td>{{compra.cantidad}}</td>

                  <td class="tableoption anchoColumnaOpciones">
                    <button (click)='eliminarProductoCompra(compra)' class="btn btn-danger btn--icon"
                      data-title="Delete" title="Eliminar" data-toggle="modal" data-target="#delete">
                      <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
            <br><br>
          </div>

          <div class="modal-footer modalMargenInferior">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>