<div class="row" style="height: 100%;">
    <div class="col-12" style="height: 100%;">
        <header class="content__title">
            <h1 class="text-themecolor">BIENVENIDO A SMARTBILLPOS</h1>
        </header>
        <div class="card" style="padding-top: 10px; height: 100% !important">

            <div class="grid-content">
                <div routerLink='/home/ventas' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title"><i class="fa fa-shopping-cart"></i></h2>
                        <h5 class="gridcontent__item--card-text">VENTAS</h5>
                    </div>
                </div>
                <div class="gridcontent__item">
                    <div routerLink='/home/quickreport' class="gridcontent__item">
                    <div class="card cardmenu color01">
                        <h2 class="gridcontent__item--card-title"><i class="fa fa-bar-chart"></i></h2>
                        <h5 class="gridcontent__item--card-text">REPORTES</h5>
                    </div>
                 </div>
                </div>
                <div routerLink='/home/productos' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title">
                            <i class="fas fa-boxes"></i>
                        </h2>
                        <h5 class="gridcontent__item--card-text">PRODUCTOS</h5>
                    </div>
                </div>
                <div routerLink='/home/insumos' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title"><i class="fa fa-barcode"></i></h2>
                        <h5 class="gridcontent__item--card-text">INSUMOS</h5>
                    </div>
                </div>
                <div routerLink='/home/categorias' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title"><i class="fa fa-object-group"></i>
                        </h2>
                        <h5 class="gridcontent__item--card-text">CATEGORIAS</h5>
                    </div>
                </div>
                <div routerLink='/home/clientes' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title">
                            <i class="far fa-id-badge"></i>
                        </h2>
                        <h5 class="gridcontent__item--card-text">CLIENTES</h5>
                    </div>
                </div>
                <div routerLink='/home/proveedores' class="gridcontent__item">
                    <div class="card cardmenu color01 gridcontent__item-card">
                        <h2 class="gridcontent__item--card-title">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </h2>
                        <h5 class="gridcontent__item--card-text">PROVEEDORES</h5>
                    </div>
                </div>
            </div>



            <!-- <div class="card-body" style="width:782px">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="assets/slider1.jpg" height="350" width="400" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/slider2.jpg" height="350" width="400" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div> -->
        </div>

    </div>
</div>