<div  class="modal fade" id="modal-selectProvider">
    <div class="modal-dialog" id="modal-x">
      <div class="modal-content">
        <header class="price-table__header bg-blue ">
          <div class="row">
              <div class="price-table__title col-10"> Seleccionar proveedor  </div>
              <div class="col-2">
                  <button class="btn btn-info btn--icon pull-right"
                          type="reset"
                          data-dismiss="modal">
                          <i class="zmdi zmdi-close"></i>
                  </button>
                </div>
          </div>
        </header>
  
        
      <div style="padding: 10px"  class="table-responsive" id="table-x">
          <table id="dt-proveedor" class="table table-bordered" style="width: 100%">
            <thead class="thead-default">
              <tr>
                <th class="td-option">Nombre</th>
                <th class="td-option">Celular </th>
                <th class="td-option">Correo </th>
                <th class="td-option">Dirección</th>
                <th class="td-option"> Seleccionar </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let provider of providers'>
                <td> {{ provider.nombre }} </td>
                <td> {{ provider.telefono }} </td>
                <td> {{ provider.correo }} </td>
                <td> {{ provider.direccion }} </td>
                <td> <button (click)="selectProvider(provider)" class="btn btn-outline-info" > <i class="fa fa-check"></i></button> </td>
              </tr>
            </tbody>
          </table>
          <br><br>
        </div>
    
      </div>
    </div>
  </div>