<div data-ma-theme="green" class="login">

    <!-- Login -->
    <div class="login__block active" id="l-login">
        <img src="assets/logo.png" style="width:50px" alt="">
        <br />
        <br />
        <br />

        <div class="login__block__body">

            <form role="form" #formLogin='ngForm' (ngSubmit)='login()'>
                <div class="form-group form-group--centered">
                    <label>Correo Electrónico</label>
                    <input [(ngModel)]="usuario.email" type="email" class="form-control" name="email" id="email"
                        minlength="8" maxlength="45" required>
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group form-group--centered">
                    <label>Contraseña</label>
                    <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password"
                        id="password" maxlength="20" minlength="6" required>
                    <i class="form-group__bar"></i>
                </div>


                <a class="dropdown-item mb-3" data-ma-action="login-switch" data-ma-target="#l-forget-password" href=""
                    style="color:cornflowerblue; text-decoration: underline; cursor: pointer;">Olvidé mi contraseña</a>

                <button type="submit" class="btn login__block__btn mr-2">Iniciar Sesión</button>
                <a data-ma-action="login-switch" data-ma-target="#register-component"
                    class="btn text-dark border">Regitrarse</a>
            </form>

        </div>
    </div>

    <!-- Forgot Password -->
    <div class="login__block" id="l-forget-password">
        <div class="login__block__header palette-Purple bg">
            <i class="zmdi zmdi-account-circle"></i>
            Olvidé mi contraseña

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-login" href="">Tengo
                            una cuenta</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="login__block__body">

            <div class="form-group form-group--centered mt-3">
                <label>Correo electrónico</label>
                <input type="text" class="form-control" [(ngModel)]='correoOlvidado' maxlength="45" minlength="8">

                <i class="form-group__bar"></i>
            </div>
            <p class="mt-4">A su bandeja de entrada le estará llegando una información para restablecer su contraseña,
                de no ser así revise su carpeta de Spam.</p>

            <button (click)='resetPassword()' class="btn btn--icon login__block__btn"><i
                    class="zmdi zmdi-check"></i></button>
        </div>
    </div>


    <!--Register Container-->
    <div class="login__block" id="register-component">
        <h3 class="mt-3 mb-3">Registrar empresa</h3>

        <div class="login__block__body shadow-lg border">

            <form [formGroup]="companyForm" (ngSubmit)="registerCompany()" enctype="multipart/form-data">


                <div class="form-group form-group--centered">
                    <label>NIT</label>
                    <input formControlName="nit" type="text" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Teléfono</label>
                    <input formControlName="telefono" type="text" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Dirección</label>
                    <input formControlName="direccion" type="text" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Correo Electrónico</label>
                    <input formControlName="correo" type="email" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Ciudad</label>
                    <input formControlName="ciudad" type="text" class="form-control">
                </div>

                <div class="form-group form-group--centered">
                    <label>Descripción</label>
                    <textarea formControlName="descripcion" class="form-control"></textarea>
                </div>

                <div class="form-group form-group--centered">
                    <label>Régimen</label>
                    <select formControlName="regimen" class="form-control">
                        <option value="">Seleccione uno</option>
                        <option value="simplificado">Simplificado</option>
                        <option value="comun">Común</option>
                    </select>
                </div>

                <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-login" href="" style="color:cornflowerblue; text-decoration: underline;">Ya tengo una cuenta</a>


                <button type="submit" class="btn btn-primary shadow mt-3">Registrar Empresa</button>
            </form>


        </div>
    </div>

</div>