<div class="modal fade" id="modal-openCashRegister" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
          <header class="price-table__header bg-blue ">
              <div class="row">
                  <div class="price-table__title col-10"> Consultar aperturas de caja </div>
                  <div class="col-2">
                      <button class="btn btn-info btn--icon float-right"
                              type="reset"
                              data-dismiss="modal">
                              <i class="zmdi zmdi-close"></i>
                      </button>
                  </div>
              </div>
            </header>      
        <form #formNuevoMoc='ngForm' ngNativeValidate>
          <div class="modal-body">
            

            <div class="modal-footer modalMargenInferior">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>            
              <button type="submit" class="btn btn-success">Consultar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>