<div class="row">
  <div class="col-md-4">
    <header class="content__title">
      <h1>INVENTARIO DE PRODUCTOS</h1>
    </header>
  </div>
</div>
<div class="card">
  <div class="card-body">
        <div class="buttomheaderright">
            <button class="btn btn-success btn--icon-text" 
                    data-toggle="modal"
                    [disabled]='tipoUsuario != "1"'>
                    <i class="fa fa-file-excel-o"></i> 
                    Exportar
            </button> &nbsp; 

            <button class="btn btn-primary btn--icon-text" 
                    routerLink='/home/productos-kardex'
                    [disabled]='tipoUsuario != "1"'><i class="fa fa-box"></i> 
                    Kardex
            </button>
          </div>
       
    
    <h4 class="card-title">Productos</h4>
    <div class="row" style="padding-left: 10px;">
      <div *ngFor="let cat of listaCategoria" class="col-md-auto">
        <h4><span (click)='filtrarPorCategoria(cat)' class="badge badge-primary">{{cat.nombre}}</span></h4>
      </div>
    </div>

    <div class="table-responsive">
      <table id="dt-productos" class="table table-bordered" style="width: 100%">
        <thead class="thead-default">
          <tr>
            <th class="td-option">Código</th>
            <th class="td-option">Nombre</th>
            <th class="td-option">Categoría</th>
            <th class="td-option">Existencia</th>
            <th class="td-option">Stock Minimo</th>
            <td class="td-option">Stock Maximo</td>
            <td class="td-option">Registrar movimiento</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let prod of listaProductos'>
            <td><span class="badge" [ngClass]="getColorStock(prod.inventario)">{{prod.codigo}}</span></td>
            <td>{{prod.nombre}}</td>
            <td>{{prod.categoria}}</td>
            <td>{{prod.inventario}}</td>
            <td>{{prod.minStock}}</td>
            <td>{{prod.maxStock}}</td>
            <td class="tableoption anchoColumnaOpciones">
              <button (click)='setProductoMovimiento(prod)' class="btn btn-success btn--icon"
                data-toggle="modal" data-target="#modal-agregarMovimiento" title="Insertar Movimiento">
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-agregarMovimiento" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="price-table__header bg-blue">
        <div class="price-table__title">Registrar Movimiento</div>
      </header>
      <form #formProductos='ngForm' ngNativeValidate (ngSubmit)='nuevoMovimiento()'>
        <div class="modal-body">
          <div class="form-group">
            <label>Tipo de Movimiento</label>
            <select class="form-control form-control-lg" [(ngModel)]='movimientoinventario.tipo' name="CajTipMovim" (change)='setConceptos()'>
              <option *ngFor='let r of listTipoMovimiento' [(ngValue)]='r.valor'>{{r.nombre}}</option>
            </select>
            <i class="form-group__bar"></i>
          </div>
          <div class="form-group">
            <label>Concepto</label>
            <select class="form-control form-control-lg" [(ngModel)]='movimientoinventario.concepto' name="EditEmp">
              <option *ngFor='let r of listConceptos' [(ngValue)]='r'>{{r}}</option>
            </select>
            <i class="form-group__bar"></i>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <label>Cantidad</label>
              <input class="form-control form-control-lg" [(ngModel)]='movimientoinventario.cantidad' type="number"
                name="valNuevoMov">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <label>Observación</label>
              <input class="form-control form-control-lg" [(ngModel)]='movimientoinventario.observacion' type="text"
                name="obsNuevoMov" maxlength="80">
              <i class="form-group__bar"></i>
            </div>
          </div>
          <div class="modal-footer modalMargenInferior">
            <button type="submit" class="btn btn-primary">Registrar Movimiento</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>